.messageAll {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin: 30px;
    width: 230px;
}

.avatar {
    width: 50px; /* задаете свои размеры */
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    background: #fff;
}

.messageDetails {
    display: flex;
    flex-direction: column;
    width: 150px;
    border-radius: 5px 5px 5px 0;
    background-color: #7f7f7f;
    padding: 10px;
}

.name {
    font-size: 18px;
    font-weight: bold
}

.textMessage {
    font-size: 15px;
    word-wrap: break-word;
}

.time {
    display: flex;
    justify-content: flex-end;
    font-size: 13px;
}

.detail {
    border: 0 solid transparent;
    border-right-width: 0px;
    border-left-width: 14px;
    border-bottom: 8px solid #7f7f7f;
}